table {
    width: 100%;
}

th {
    border-bottom: 1px solid;
}

.taskDesc {
    background-color: rgb(240,240,240);
    border-radius: 1em;
    padding: 10px;
    height: 550px;
}

.taskDescBody {
    margin-top: 3%;
}
.taskDescTitle {
    font-size: 1.7rem;
    font-weight: 600;
    border-bottom: 1px lightgray solid;
}

.taskDescTitleImportant {
    padding-left: 2%;
    display: inline;
    color: red;
    font-size: 0.85rem;
    font-weight: bold;
}


.indexPageTitle {
    color: #de6aa5 !important;
    font-weight: 600 !important;
}

.theTasks {
    color: rgb(100,100,100);
    background-color: rgb(240,240,240);
    border-top: solid 1px lightgray;
}
.EditDeleteLinks {
    color: #cfa904;
}

.todoText, .EditDeleteLinks {
    padding: 8px 0;
}

.taskTitle {
    font-size: 1.1rem;
    cursor: pointer;
}

.taskDateCreated {
    color: rgb(170,170,170);
    font-size: .7rem;
    font-weight: 600;
}

.taskTitle, .taskOrigin {
    padding: .1rem;
    margin: .05rem;
}

.markedImportantSign {
    display: inline;
    color: red;
    font-weight: 900;
    font-size: 1.4rem;
}

.strikethrough {
    /*background-color: #d1d2de;*/
    text-decoration: line-through;
    color: gray;
}

.taskTitle:hover {
    color: black;
}

.todoTitleClicked {
    color: black;
    font-weight: 600;
}

.roundCheckbox {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid black;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.roundCheckbox:checked {
    appearance: auto;
    clip-path: circle(50% at 50% 50%);
    background-color: blue;
}
