<head>
    <link href="~/css/SignUpStyles.css" rel="stylesheet" />
</head>

<div class="rectangle-3"></div>
<div class="centertext">
    <div class="bigText">
        Start keeping track of your tasks with the <span class="todotext">ToDo List App</span>
    </div>
    <div class="smallText">
        Click <a href="Identity/Account/Login">Login</a> or <a href="Identity/Account/Register">Sign Up</a> to keep your personal to-do tasks in your account. For free!
    </div>
</div>
