 @using To_Do.Models;
@using To_Do.ViewModels;

@model AddToDoTaskViewModel;

<form method="post" asp-controller="ToDoTask" asp-action="Add" asp-route-folderId = "@ViewBag.folderId">
    <div class="form-group">
        <label asp-for="Title">Title: <input type="text" asp-for="Title" /></label>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Body">Body: <textarea asp-for="Body" rows="10" cols="50" maxlength="1000"></textarea></label>
        <span asp-validation-for="Body" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsImportant">Mark as important?: <input type="checkbox" asp-for="IsImportant"/></label>
    </div>
    <div class="form-group">
        @if(ViewBag.folderId == null)
        {
            <label asp-for="FolderId">Add to folder</label>
            <select asp-for="FolderId" asp-items="Model.AvailFolders">
                <option disabled selected>Please select...</option>
            </select>
        } 
    </div>
    <input type="submit" value="Add To-Do" />
</form>

