@using To_Do.Models;
@model Dictionary<Folder,int>

    <head>
        <link href="~/css/FolderIndexStyles.css" rel="stylesheet"/>
        <script src="https://kit.fontawesome.com/36af15ca2b.js" crossorigin="anonymous"></script>
    </head>

<h1 class="indexPageTitle">
    Folders 
    <a style="color:inherit;" asp-area="" asp-controller="Folder" asp-action="Add">
        <i class="fa-solid fa-folder-plus"></i>
    </a>
</h1>

@if(Model.Count <= 0) {
    <span>No folders</span>
} else {
    <table class="table">
        <tr>
            <td class="row">
                <a style="color:#948dfd;" asp-controller="ToDoTask" asp-action="Index">
                    <i class="fa-solid fa-folder fa-2xl"></i>&nbsp;All (@ViewBag.TotalTasks)
                </a>
            </td>
        </tr>
        @foreach (KeyValuePair<Folder,int> kvp in Model)
        {
            <tr>
                <td class="row">
                    <a style="color:#948dfd;" asp-controller="Folder" asp-action="Results" asp-route-id="@kvp.Key.Id">
                        <i class="fa-solid fa-folder fa-2xl"></i>&nbsp;@kvp.Key.Name (@kvp.Value)
                    </a>
                </td>
            </tr>
        }
    </table>
}